.card {
    max-width: 400px;
    margin: 6rem auto;
    padding: 20px;
   
  }

  .card-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    height: 50px;
    font-size: 1rem;
    border-radius: 0;
  }
  
  .btn {
    height: 50px;
    font-size: 1rem;
    border-radius: 0;
  }
  
  .alert {
    margin-top: 10px;
    border-radius: 0;
  }
  
  .alert-success {
    background-color: #dff0d8;
    color: #3c763d;
    border: none;
  }
  
  .alert-danger {
    background-color: #f2dede;
    color: #a94442;
    border: none;
  }
  