.item {
  border: 1px solid #7c8a9736;
  padding: 20px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.product__img img {
  width: 100%;
  height: 400px; /* or any other desired height */
  object-fit: cover; /* to ensure the image fills the div without distortion */
}

.item-info span i {
  color: #f9a826;
  font-size: 1.1rem;
}

.item-btn {
  border-radius: 5px;
  border: none;
  outline: none;
  background: #000d6b;
  padding: 10px 20px;
  color: #fff;
  transition: background-color 0.3s ease;
}

.item-btn:hover {
  background-color: #f9a826;
}

.item-btn a {
  text-decoration: none;
  font-weight: 500;
}

.btn-details {
  background: #f9a826;
  border-radius: 5px 0px 0px 5px;
  padding: 10px 20px;
  
}

.btn-rent {
  border-radius: 0px 5px 5px 0px;
  margin-right: 10px;
}

.car__item-content h4 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.item-content h6 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 10px;
}

@media only screen and (max-width: 992px) {
  .item h4 {
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .item h6 {
    font-size: 1.2rem;
    margin-top: 10px;
  }

  .item-info {
    flex-wrap: wrap;
  }

  .item-info span {
    font-size: 1rem;
    justify-content: space-between;
  }

  .item-btn {
    padding: 8px 16px;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .item h4 {
    font-size: 1.2rem;
  }

  .item h6 {
    font-size: 1rem;
  }

  .item-info span {
    font-size: 0.8rem;
  }

  .item-info span i {
    font-size: 1rem;
  }

  .item-btn {
    font-size: 0.9rem;
  }
}
